.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        TEST1
      %ul.main-header__left-box__member-list
        %li.main-header__left-box__mamber-list__member
          test-user
    = link_to "#" do
      .main-header__edit-btn
        EDIT
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker
          test-user
        %p.message__upper-info__date
          l2019/11/23
      %p.message__text
        こんにちは
  .form